@font-face {
  font-family: "CoreSansC";
  src: url(../fonts/CoreSansC-45Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CoreSansC";
  src: url(../fonts/CoreSansC-55Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
html * {
  max-height: 100000000px;
}

html img {
  max-height: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  outline-style: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

html, body {
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

a img {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a[href^="tel:"], a[href^="mailto:"] {
  white-space: nowrap;
}

input, select, button {
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

input[type=file],
input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

/* chromes and blink button */
input[type=submit], input[type=text], input[type=email], input[type=tel], input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

html, body {
  font-size: 10px;
  width: 100%;
  height: 100%;
  font-family: "CoreSansC", "sans-serif";
  color: #171723;
}

@media (min-width: 1200px) {
  html, body {
    font-size: 0.5952vw;
  }
}
.main-wrap {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  font-size: 1.6rem;
}

.container {
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .container {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}
.main-block {
  width: 100%;
  min-height: 100vh;
  background: #787878;
  color: #FFF;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.header-block {
  position: relative;
  z-index: 10;
  flex: 0 0 auto;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-top: 3.5rem;
  padding-bottom: 2.4rem;
}

.header-logo {
  width: 19.8rem;
  flex: 0 0 auto;
  font-size: 0;
  font-weight: normal;
  display: table;
  cursor: pointer;
  margin-top: 0.3rem;
}
.header-logo img {
  display: block;
  width: 100%;
  height: auto;
}

.head-contacts {
  margin-left: 21rem;
  flex: 0 0 auto;
}

.head-phone-unit {
  font: normal 2rem/2.3rem "CoreSansC", "sans-serif";
  letter-spacing: -0.025em;
}

.head-contacts__desc {
  font: normal 1.6rem/1.9rem "CoreSansC", "sans-serif";
  color: rgba(255, 255, 255, 0.5);
}
.head-contacts__desc:nth-child(n+2) {
  margin-top: 0.7rem;
}

.head-nav {
  flex: 1 1 auto;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.nav-list__item {
  flex: 0 0 auto;
  margin-left: 2rem;
}

.nav-link {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font: 500 1.6rem/1.6rem "CoreSansC", "sans-serif";
}

.nav-link span {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all 0.15s linear;
  -webkit-transform: translateY(1.6rem);
  transform: translateY(1.6rem);
}

.nav-link:after {
  content: attr(data-label-hover);
  color: #D90002;
  display: block;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  font: 500 1.6rem/1.6rem "CoreSansC", "sans-serif";
  transition: all 0.15s linear;
}

.nav-link:hover span {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-30%);
  transform: translateY(-30%);
}
.nav-link:hover:after {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.btn-menu {
  width: 4.8rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  display: block;
  flex: 0 0 auto;
  border: none;
  outline: none;
  background: transparent;
  margin-left: 4rem;
  top: -0.7rem;
}
.btn-menu:after, .btn-menu:before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.15s linear;
  height: 0.2rem;
  background: #FFF;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  box-sizing: border-box;
}
.btn-menu:before {
  top: 1rem;
}
.btn-menu:after {
  top: 1.8rem;
}
.btn-menu:hover:before {
  -webkit-transform: translateX(-5%);
  transform: translateX(-5%);
}
.btn-menu:hover:after {
  -webkit-transform: translateX(5%);
  transform: translateX(5%);
}

@media (max-width: 1199px) {
  .header {
    justify-content: space-between;
  }

  .head-nav {
    display: none;
  }

  .head-contacts {
    margin-left: 2.5rem;
  }

  .btn-menu {
    margin-left: 2.5rem;
  }
}
@media (max-width: 700px) {
  .header {
    padding-top: 2.4rem;
    align-items: center;
  }

  .header-logo {
    width: 15.8rem;
    margin-top: 0;
  }

  .head-contacts {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .head-contacts, .head-contacts * {
    font-size: 0;
    font-weight: normal;
  }
  .head-contacts .head-phone-unit {
    width: 3.6rem;
    height: 3.6rem;
    display: block;
    background: url(../img/phone-icon.svg) no-repeat 50% 50%/contain;
    cursor: pointer;
  }

  .head-contacts__desc {
    display: none;
  }

  .btn-menu {
    top: 0;
  }
}
@media (max-width: 360px) {
  .head-contacts {
    margin-left: 1.4rem;
  }

  .btn-menu {
    margin-left: 1.4rem;
  }
}
.main-block-body {
  position: relative;
  z-index: 10;
  flex: 1 1 auto;
  width: 100%;
}

@media (max-width: 1199px) {
  .main-block-body {
    margin-top: 7rem;
  }
}
.sticker-label {
  display: table;
  width: auto;
  height: auto;
  border: none;
  outline: none;
  z-index: 10;
  position: absolute;
  top: 0.3rem;
  left: 0;
  -webkit-transform: translateX(-0.8rem);
  transform: translateX(-0.8rem);
  transition: all 0.15s linear;
}
.sticker-label:hover {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.sticker-label > img, .sticker-label > svg {
  display: block;
  width: auto;
  height: auto;
}
.sticker-label > .sticker-label-img-desktop {
  display: block;
}
.sticker-label > .sticker-label-img-mobile {
  display: none;
}

@media (max-width: 1199px) {
  .sticker-label {
    display: table;
    width: auto;
    height: auto;
    border: none;
    outline: none;
    z-index: 10;
    position: absolute;
    top: auto;
    left: auto;
    right: 0;
    bottom: 2.5rem;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .sticker-label:hover {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .sticker-label > .sticker-label-img-desktop {
    display: none;
  }
  .sticker-label > .sticker-label-img-mobile {
    display: block;
  }
}
.main-projects-block {
  margin-left: 39.8rem;
  flex: 0 0 auto;
  width: 40rem;
  position: relative;
}

.main-projects-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.main-projects-item {
  flex: 0 0 auto;
  width: 50%;
  padding: 0 1rem;
  font-size: 0;
  font-weight: normal;
  text-align: left;
}
.main-projects-item:nth-child(n+3) {
  margin-top: 1rem;
}
.main-projects-item a {
  color: #FFF;
  transition: all 0.15s linear;
  font: normal 1.6rem/2rem "CoreSansC", "sans-serif";
  display: inline-block;
  position: relative;
}
.main-projects-item a:before {
  content: "";
  display: block;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.1rem;
  background: #FFF;
  transition: all 0.15s linear;
}
.main-projects-item a:hover:before {
  width: 85%;
}

@media (max-width: 1199px) {
  .main-projects-block {
    display: none;
  }
}
.btn-slider {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  position: relative;
}
.btn-slider > .btn-slider-icon {
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.btn-slider.prev > .btn-slider-icon {
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.btn-slider.btn-slider-round {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
}
.btn-slider.btn-slider-round .btn-slider-round-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.95, 0.95) rotate(-90deg);
  transform: translateX(-50%) translateY(-50%) scale(0.95, 0.95) rotate(-90deg);
}
.btn-slider.btn-slider-round .btn-slider-round-icon .path-round-line {
  stroke-dashoffset: 128;
  stroke-dasharray: 128;
  stroke: #FFF;
}

@media (max-width: 1400px) {
  .btn-slider.btn-slider-round .btn-slider-round-icon {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8, 0.8) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) scale(0.8, 0.8) rotate(-90deg);
  }
}
@-webkit-keyframes round-loading {
  from {
    stroke-dashoffset: 128;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes round-loading {
  from {
    stroke-dashoffset: 128;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.btn-slider-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.btn-slider-group .btn-slider {
  flex: 0 0 auto;
}
.btn-slider-group .btn-slider:nth-child(n+2) {
  margin-left: 0.6rem;
}

.main-presentation-slider-wrap {
  position: relative;
  padding-left: 12rem;
  margin-top: -1rem;
  margin-left: 5rem;
  width: 70rem;
}
.main-presentation-slider-wrap .btn-slider-group {
  position: absolute;
  top: 0.4rem;
  left: 1.6rem;
}
.main-presentation-slider-wrap .main-presentation-slide__text {
  font: normal 4rem/4.7rem "CoreSansC", "sans-serif";
  letter-spacing: -0.02em;
}

.main-presentation-slide__btn-wrap:nth-child(n+2) {
  margin-top: 4.8rem;
}

.btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -0.7rem;
  margin-right: -0.7rem;
}

.btn-group-item {
  padding: 0.7rem;
  flex: 0 0 auto;
  max-width: 100%;
}

.main-presentation-slider .slick-list {
  overflow: visible !important;
}

.main-presentation-slider .slick-slide .main-presentation-slide > * {
  transition: all 0.35s linear;
  -webkit-transform: translateX(3.5rem);
  transform: translateX(3.5rem);
}
.main-presentation-slider .slick-slide.slick-active .main-presentation-slide > * {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media (max-width: 1199px) {
  .main-presentation-slider-wrap {
    margin-left: 0;
    padding-left: 9rem;
  }
  .main-presentation-slider-wrap .btn-slider-group {
    left: 0;
  }
}
@media (max-width: 800px) {
  .main-presentation-slider-wrap {
    width: 100%;
  }
  .main-presentation-slider-wrap .main-presentation-slide__text {
    font-size: 3rem;
    line-height: 3.65rem;
  }
}
@media (max-width: 700px) {
  .main-presentation-slider-wrap .main-presentation-slide__text {
    font-size: 2.6rem;
    line-height: 3.1rem;
  }

  .main-presentation-slide__btn-wrap:nth-child(n+2) {
    margin-top: 3.2rem;
  }
}
@media (max-width: 640px) {
  .main-presentation-slider-wrap {
    padding-left: 0;
  }
  .main-presentation-slider-wrap .btn-slider-group {
    display: none;
  }
}
@media (max-width: 500px) {
  .main-presentation-slide__btn-wrap {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .main-presentation-slide__btn-wrap .btn-group-item {
    padding: 0;
    display: block;
    width: 100%;
  }
  .main-presentation-slide__btn-wrap .btn-group-item:nth-child(n+2) {
    margin-top: 1.6rem;
  }
  .main-presentation-slide__btn-wrap .btn-user.btn-arrow {
    padding-left: 0;
    padding-right: 0;
  }
}
.btn-user {
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.7rem;
  outline: none;
  position: relative;
  border: 0.1rem solid transparent;
  line-height: 5.4rem;
  padding: 0 1.4rem;
  font-size: 0;
  font-weight: normal;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s linear;
}
.btn-user .btn-inner {
  display: inline-block;
  vertical-align: middle;
  font: 500 1.6rem/2rem "CoreSansC", "sans-serif";
  min-height: 2rem;
  position: relative;
  z-index: 2;
}

@media (max-width: 700px) {
  .btn-user {
    line-height: 4rem;
    padding: 0 1.4rem;
  }
  .btn-user .btn-inner {
    display: inline-block;
    vertical-align: middle;
    font: 500 1.2rem/1.6rem "CoreSansC", "sans-serif";
    min-height: 1.6rem;
  }
}
.btn-user.btn-prev-plus .btn-inner {
  padding-left: 2.6rem;
  position: relative;
}
.btn-user.btn-prev-plus .btn-inner:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url(../img/plus-icon.svg) no-repeat 50% 50%/contain;
}

.btn-user.btn-outline {
  border-color: #FFF;
  background: transparent;
}
.btn-user.btn-outline:hover {
  background: #D90002;
  border-color: #D90002;
}

.btn-user.btn-fill {
  background: #D90002;
  border-color: #D90002;
}
.btn-user.btn-fill:hover {
  background: #BA0003;
  border-color: #BA0003;
}

.btn-user.btn-arrow .btn-inner {
  position: relative;
  padding-right: 2rem;
  transition: all 0.15s linear;
  opacity: 1;
}
.btn-user.btn-arrow .btn-inner:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 0.9rem;
  height: 1.4rem;
  background: url(../img/btn-arrow-icon.svg) no-repeat 50% 50%/contain;
  transition: all 0.15s linear;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-pointer-events: none;
  pointer-events: none;
}

.btn-user.btn-arrow:hover .btn-inner {
  opacity: 0.75;
}
.btn-user.btn-arrow:hover .btn-inner:after {
  -webkit-transform: translateX(20%);
  transform: translateX(20%);
}

.btn-settings {
  padding-left: 2rem;
}
.btn-settings .btn-inner {
  padding-left: 3.2rem;
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: normal;
}
.btn-settings .btn-inner:before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1.8rem;
  height: 1.8rem;
  background: url(../img/filter-icon.svg) no-repeat 50% 50%/contain;
}

.btn-user.btn-search {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  transition: all 0.15s linear;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 2rem;
  border: none;
  line-height: 5rem;
}
.btn-user.btn-search .btn-inner {
  line-height: 5rem;
  font: 500 1.4rem/1.4rem "CoreSansC", "sans-serif";
  min-height: 0;
  position: relative;
  padding-right: 3rem;
  width: 100%;
}
.btn-user.btn-search .btn-inner:after {
  content: "";
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: url(../img/search-icon.svg) no-repeat 50% 50%/contain;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.15s linear;
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}
.btn-user.btn-search:hover {
  background: #FFF;
}
.btn-user.btn-search:hover .btn-inner {
  color: #171723;
}
.btn-user.btn-search:hover .btn-inner:after {
  -webkit-filter: contrast(0);
  filter: contrast(0);
}

.main-block-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 9.2rem;
}
.main-block-body .main-projects-list {
  flex: 0 0 auto;
}
.main-block-body .main-presentation-slider-wrap {
  flex: 0 0 auto;
}

@media (max-width: 800px) {
  .main-block-body {
    margin-top: 7rem;
  }
}
@media (max-width: 600px) {
  .main-block-body {
    margin-top: 5rem;
  }
}
@media (max-width: 500px) {
  .main-block-body {
    margin-top: 3rem;
  }
}
.main-block-footer {
  border-top: 0.1rem solid rgba(255, 255, 255, 0.15);
  padding-top: 3.5rem;
  margin-top: 3rem;
  flex: 0 0 auto;
  width: 100%;
  padding-bottom: 4.2rem;
  position: relative;
  z-index: 10;
}
.main-block-footer .btn-search {
  display: none;
}

@media (max-width: 1199px) {
  .main-block-footer .btn-search {
    display: block;
  }
}
@media (max-width: 800px) {
  .main-block-footer {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.checkbox-control {
  display: table;
  border: none;
  outline: none;
  cursor: pointer;
}
.checkbox-control input {
  display: none;
}
.checkbox-control .checkbox-control-view {
  display: block;
  padding: 2rem 2.2rem;
  min-height: 5.6rem;
  background: rgba(255, 255, 255, 0.16);
  transition: all 0.1s linear;
  color: #FFF;
  font: 500 1.6rem/1 "CoreSansC", "sans-serif";
  user-select: none;
}
.checkbox-control input:checked ~ .checkbox-control-view {
  background: #FFF;
  color: #171723;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.checkbox-group .checkbox-control:first-child, .checkbox-group .checkbox-control:first-child .checkbox-control-view {
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}
.checkbox-group .checkbox-control:last-child, .checkbox-group .checkbox-control:last-child .checkbox-control-view {
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
.checkbox-group .checkbox-control:nth-child(n+2) {
  border-left: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.filter-unit {
  flex: 0 0 auto;
}

.filter-unit-label {
  font: normal 1.3rem/1.3rem "CoreSansC", "sans-serif";
  color: #FFF;
  margin-bottom: 1.4rem;
}

.filter-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.filter-group .filter-unit {
  flex: 0 0 auto;
}
.filter-group .filter-unit:nth-child(n+2) {
  margin-left: 2rem;
}
.filter-group .filter-unit-btn-settings:nth-child(n+2) {
  margin-left: 4.4rem;
}

.range-slider-wrap {
  width: 27rem;
  position: relative;
}
.range-slider-wrap .range-slider {
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  right: 0;
  margin: auto;
}

.range-slider-values-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.range-slider-values-group .range-slider-value {
  width: 50%;
}
.range-slider-values-group .range-slider-value:nth-child(n+2) {
  width: 50%;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.15);
}
.range-slider-values-group .range-slider-value:first-child {
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}
.range-slider-values-group .range-slider-value:last-child {
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.range-slider-value {
  flex: 0 0 auto;
  display: block;
  background: rgba(255, 255, 255, 0.16);
  position: relative;
}
.range-slider-value input {
  display: block;
  height: 5.6rem;
  padding: 0 2rem 0 3.6rem;
  color: #FFF;
  position: relative;
  background: none;
  border: none;
  outline: none;
  text-align: left;
  font: 500 1.6rem/5.6rem "CoreSansC", "sans-serif";
}
.range-slider-value:before {
  content: attr(data-value-prefix);
  display: block;
  position: absolute;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: left;
  top: 50%;
  left: 0.9rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #FFF;
  font: 400 1.6rem/1 "CoreSansC", "sans-serif";
  opacity: 0.4;
  user-select: none;
}
.range-slider-value > input {
  display: block;
  width: 100%;
}

.range-slider {
  position: relative;
  height: 0.3rem !important;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 30rem;
}

.range-slider-wrap .range-slider {
  width: calc(100% - 1.6rem);
  margin: 0 auto;
}

.range-slider .ui-slider-handle {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background: #D90002;
  border: none;
  outline: none;
  cursor: pointer;
  top: 50% !important;
  left: 0;
  margin: 0 !important;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  transition: box-shadow 0.1s linear, background 0.1s linear;
  box-shadow: 0 0 0.8rem #D90002;
}
.range-slider .ui-slider-handle:hover {
  box-shadow: 0 0 0.3rem #BA0003;
  background: #BA0003;
}
.range-slider .ui-slider-range {
  height: 100% !important;
  background: #D90002 !important;
}

.filter-unit .user-select {
  display: block;
  width: 27rem;
}

.user-select + .select2-container--default .select2-selection--single {
  background: rgba(255, 255, 255, 0.16);
}

.select2-dropdown {
  background: #FFF;
  border-radius: 0.7rem !important;
  color: #171723;
}

.select2-container--default .select2-results > .select2-results__options {
  padding: 0.8rem 0 0 !important;
}
.select2-container--default .select2-results > .select2-results__options:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 0;
  margin-top: 0.8rem;
}

.select2-results__option {
  padding: 0.7rem 1rem !important;
  font: 400 1.4rem/1.4rem "CoreSansC", "sans-serif";
  color: #171723;
  transition: color 0.1s linear;
  background: transparent !important;
}

.select2-results__option.select2-results__option--highlighted {
  color: #D90002 !important;
}

.select2-results__option.select2-results__option--selected {
  color: #D90002 !important;
}

.select2 .select2-selection {
  border: none !important;
  outline: none !important;
  border-radius: 0.7rem !important;
  height: 5.6rem;
  padding: 0 5rem 0 1.4rem !important;
}

.select2 .select2-selection__rendered {
  line-height: 5.6rem;
  display: block !important;
  width: 100%;
  font: 400 1.6rem/5.6rem "CoreSansC", "sans-serif" !important;
  color: #FFF !important;
  padding: 0 !important;
}

.select2 .select2-selection__arrow {
  width: 1.2rem !important;
  height: 1.2rem !important;
  display: block;
  -webkit-pointer-events: none;
  pointer-events: none;
  position: absolute;
  top: 50% !important;
  right: 2.4rem !important;
  margin-top: -0.6rem !important;
  background: url(../img/select-dropdown-icon.svg) no-repeat 50% 50%/contain !important;
}
.select2 .select2-selection__arrow b {
  display: none !important;
}

.select2-container--open.select2 .select2-selection__arrow {
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

@media (max-width: 1199px) {
  .filter-group {
    display: none;
  }
}
.stick-soc-box {
  position: absolute;
  left: 4rem;
  top: 50%;
  margin-top: 3.6rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 20;
}

.stick-soc-item {
  display: block;
}
.stick-soc-item:nth-child(n+2) {
  margin-top: 2.4rem;
}

.stick-soc-unit {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  cursor: pointer;
  display: block;
}
.stick-soc-unit svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.stick-soc-unit svg * {
  fill: #FFF !important;
  transition: fill 0.1s linear;
}
.stick-soc-unit:hover svg * {
  fill: #D90002 !important;
}

@media (max-width: 1199px) {
  .stick-soc-box {
    margin-top: -7rem;
    left: auto;
    right: 4rem;
  }
}
@media (max-width: 800px) {
  .stick-soc-box {
    display: none;
  }
}
.project-layer-box {
  width: 100%;
  height: 0;
  position: absolute;
  top: 100%;
  margin-top: 2rem;
  left: 0;
}

.project-layer {
  width: 35rem;
  color: #FFF;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(2rem);
  transform: translateY(2rem);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.07s ease-in;
}
.project-layer.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.1s ease-in;
}

.project-layer-cover {
  position: relative;
  overflow: hidden;
  border-radius: 0.7rem;
}
.project-layer-cover:before {
  content: "";
  box-sizing: border-box;
  width: 0;
  padding-top: 62%;
  display: block;
}
.project-layer-cover img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.7rem;
}

.project-layer-text {
  width: 100%;
}
.project-layer-text:nth-child(n+2) {
  margin-top: 2rem;
}

.project-layer-title {
  font: 500 1.8rem/2.2rem "CoreSansC", "sans-serif";
  margin-bottom: 0.7rem;
}
.project-layer-title:last-child {
  margin-bottom: 0;
}

.project-layer-desc {
  font: 400 1.4rem/2re, "CoreSansC", "sans-serif";
  color: rgba(255, 255, 255, 0.7);
}

.main-overlay-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.main-overlay-slider:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  transition: all 0.15s linear;
}

.projects-layer-opened .main-overlay-slider:after {
  background-color: rgba(0, 0, 0, 0.85);
}

.main-overlay-slide {
  position: absolute;
  height: 100%;
  z-index: 0;
  top: 0;
  right: 0;
  transition: width 0s linear 0.3s, opacity 0s linear 0.3s;
  overflow: hidden;
  width: 0;
  -webkit-pointer-events: none;
  pointer-events: none;
}
.main-overlay-slide.active {
  width: 100%;
  z-index: 2;
  transition: width 0.3s linear 0s, opacity 0.3s linear 0s;
}

.main-overlay-slide img,
.main-overlay-slide video {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  z-index: 0;
}

/*# sourceMappingURL=styles.css.map */
