@font-face {
  font-family: "CoreSansC" ;
  src: url(../fonts/CoreSansC-45Regular.ttf) format("truetype") ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CoreSansC" ;
  src: url(../fonts/CoreSansC-55Medium.ttf) format("truetype") ;
  font-weight: 500;
  font-style: normal;
}